.data-fav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;

  > article {
    display: flex;
    width: calc(50% - 40px);
    position: relative;
    height: 160px;
    margin: 0 40px 30px 0;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 2px #D1D1D1;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: space-between;

    &:hover{
      opacity: 50%;
    }

    a {
      width: calc(100% - 66px);

      section {
        padding: 13px 0 13px 26px;
      }
    }

    aside {
      margin-left: 10px;
      box-sizing: content-box;
      width: 66px;
      height: 100%;
      background-color: #F5F5F5;
      border-radius: 0 6px 6px 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}