.data-cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > article {
    display: flex;
    width: calc(50% - 40px);
    position: relative;
    height: 90px;
    margin: 0 40px 30px 0;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: space-between;

    &:hover{
      opacity: 50%;
    }

    a {
      width: calc(100% - 66px);

      section {
        padding: 13px 0 13px 26px;
          span{
            color: #767676 !important;
            font-family: Roboto;
            font-weight: 400;
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
          }
          p{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            color: #606060;
          }
      }
    }

    aside {
      margin-left: 10px;
      box-sizing: content-box;
      width: 66px;
      height: 100%;
      background-color: #F5F5F5;
      border-radius: 0 6px 6px 0;
      cursor: cell;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 872px) {
  .data-cnt article{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
  }
}

@media (max-width: 360px) {
  .data-cnt > article a section p{
    font-size: 8px;
  }
}

@media (max-width: 256px) {
  .data-cnt > article{
    display: contents;
    a{
      width: 100%;
    }
    aside{
      width: 100%;
    }
  }

  .data-cnt > article a section p{
    display: none;
  }
}