.landing-header {
  box-shadow: 0 4px 2px -2px #e1e1e1;
  height: 115px;
  padding-top: 47px;
  box-sizing: border-box;
  .HACKER-NEWS{
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
  }
  h2{
    margin: 0;
  }
}

@media (max-width: 872px) {
  .HACKER-NEWS{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}