.search-cnt{
  select{
    min-width: 240px;
    height: 32px;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }
}

@media (max-width: 872px) {
  .search-cnt{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}