#landing-hacker-news{
    min-height: 100vh;
    background-color: #FCFCFC;
    .landing-header div, main{
        width: 100%;
        margin: auto;
        max-width: 980px;
    }
    .tab-cnt{
        margin-top: 70px;
    }
    .select-cnt{
        margin-top: 70px;
    }
    .data-cnt{
        margin-top: 130px;
    }
}