body, html, ul, li {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #858585;
}

li {
    list-style: none;
}

.text-center {
    text-align: center;
}

.d-flex{
    display: flex;
}